main, h1{ padding: 1em;
color: orangered;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius:30px;
  box-shadow:5px 5px 5px black;
}

main p{
  background-color: gainsboro;
  color: orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

ul {list-style-type: none;}

nav li{box-shadow:5px 5px 5px black}
